.inputBox {
    position: relative;
  }
  
  .inputBox input {
    height: 2rem;
    padding: 1rem 1.2rem;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #212121;
    border: 1px solid#212121;
  
  }
  
  .inputBox span {
    position: absolute;
    left: 0;
    font-size: 0.6em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 6px 1px 5px;
    border-radius: 2px;
    background: #e8e8e8;
    letter-spacing: 1px;
    border: 1px solid #212121;
    color: #212 121;
  }